<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />
	<title>忘记密码</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
			<div class="container">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg navbar-dark">
					<!-- logo -->
					<a class="navbar-brand" href="#"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- 功能 -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="../index.html">首页</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link position-relative" href="letter.html">消息<span class="badge badge-danger">12</span></a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="register.html">注册</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="login.html">登录</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="http://images.nowcoder.com/head/1t.png" class="rounded-circle" style="width:30px;"/>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" href="profile.html">个人主页</a>
									<a class="dropdown-item text-center" href="setting.html">账号设置</a>
									<a class="dropdown-item text-center" href="login.html">退出登录</a>
									<div class="dropdown-divider"></div>
									<span class="dropdown-item text-center text-secondary">nowcoder</span>
								</div>
							</li>
						</ul>
						<!-- 搜索 -->
						<form class="form-inline my-2 my-lg-0" action="search.html">
							<input class="form-control mr-sm-2" type="search" aria-label="Search" />
							<button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
						</form>
					</div>
				</nav>
			</div>
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container pl-5 pr-5 pt-3 pb-3 mt-3 mb-3">
<!--				提交路径为foget，方式为post-->
				<form class="mt-5" method="post" th:action="@{/forget}">
					<div class="form-group row">
						<label for="your-email" class="col-sm-2 col-form-label text-right">邮箱:</label>
						<div class="col-sm-10">
							<input type="email"
								   th:class="|form-control ${error!=null?'is-invalid':''}|"
								   id="your-email"
								   name="myEmail" placeholder="请输入您的邮箱!" required>
						</div>
					</div>
					<div class="form-group row mt-4">
						<label for="verifycode" class="col-sm-2 col-form-label text-right">验证码:</label>
						<div class="col-sm-6">
							<input type="text" th:class="|form-control ${error!=null?'is-invalid':''}|" name="code"
								   id="verifycode" placeholder="请输入验证码!">
							<div class="invalid-feedback" th:text="${error}">
								验证码不正确!
							</div>
							<p class="buZai">验证码发送成功！</p>
						</div>

						<div class="col-sm-4">
							<a th:src="@{/verification}" id="validate_span" onclick="Verification(this)" class="btn btn-info form-control">获取验证码</a>
						</div>
					</div>	
					<div class="form-group row mt-4">
						<label for="your-password" class="col-sm-2 col-form-label text-right">新密码:</label>
						<div class="col-sm-10">
							<input type="password" th:class="|form-conrol ${error!=null?'is-invalid':''}|" id="your-password"
								   name="newPwd" placeholder="请输入新的密码!" required>
							<div class="invalid-feedback" th:text="${error}">
								密码长度不能小于8位!
							</div>							
						</div>
					</div>							
					<div class="form-group row mt-4">
						<div class="col-sm-2"></div>
						<div class="col-sm-10 text-center">
							<button type="submit" class="btn btn-info text-white form-control">重置密码</button>
						</div>
					</div>
				</form>				
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark">
			<div class="container">
				<div class="row">
					<!-- 二维码 -->
					<div class="col-4 qrcode">
						<img src="https://uploadfiles.nowcoder.com/app/app_download.png" class="img-thumbnail" style="width:136px;" />
					</div>
					<!-- 公司信息 -->
					<div class="col-8 detail-info">
						<div class="row">
							<div class="col">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link text-light" href="#">关于我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">加入我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">意见反馈</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">企业服务</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">联系我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">免责声明</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">友情链接</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<ul class="nav btn-group-vertical company-info">
									<li class="nav-item text-white-50">
										公司地址：******
									</li>
									<li class="nav-item text-white-50">
										联系方式：***(电话)&nbsp;&nbsp;&nbsp;&nbsp;admin@***.com
									</li>
									<li class="nav-item text-white-50">
										©2018 All rights reserved
									</li>
									<li class="nav-item text-white-50">
										京ICP备***
										<img src="http://static.nowcoder.com/company/images/res/ghs.png" style="width:18px;" />
										京公网安备 ***号
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<style>
		.tiShi{
			color: deepskyblue;
			font-size: 12px;
		}
		.buZai{
			display: none;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
		var tiShi = document.querySelector('.buZai');


		function Verification(e){

			console.log('click');
			var input= document.getElementById("your-email");
			axios({
				url: CONTEXT_PATH+"/verification",
				method: 'post',
				data: {
					'mail': input.value
				},
				transformRequest: [function (data) {
					// Do whatever you want to transform the data
					let ret = ''
					for (let it in data) {
						ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it])
					}
					return ret
				}],
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				}
			}).then(res => {
				if(res.data === 'fail'){
					alert("邮箱错误");
				} else {
					countdown(e);
					tiShi.classList.remove('buZai');
					tiShi.classList.add('tiShi');
				}
			})
		}


		var time = 60;

		function countdown(e) {
			if (time == 0) {
				//e.setAttribute('disabled',false);         对没有disbaled属性的span标签，此方法无效
				e.setAttribute("onclick", "Verification(t)");
				$("#validate_span").html("获取验证码");
				time = 10;
			} else {
				//e.attr('disabled',true);                  对没有disbaled属性的span标签，此方法也无效
				//e.setAttribute("onclick", '');            这样写也可以
				e.removeAttribute("onclick");
				$("#validate_span").html("重新发送(" + time + ")");
				time--;
				setTimeout(function () {
					countdown(e)
				}, 1000)
			}
		}

	</script>
</body>
</html>
