#  tomcat
server:
  port: 8088
  #
  servlet:
    context-path: /community

#  Thymeleafproperties
spring:
  thymeleaf:
    cache: false
    suffix: .html
    prefix: classpath:/templates/


  #  DataSourceProperties
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/community?characterEncoding=utf-8&useSSL=false&serverTimezone=Hongkong
    username: root
    password: 10021002
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
      idle-timeout: 30000
  #邮箱相关的配置
  mail:
    # 邮件服务地址
    #    host: smtp.163.com
    host: smtp.sina.com
    # 端口
    port: 25
    # 编码格式
    default-encoding: utf-8
    # 用户名
    #    username: lxj10021002@163.com
    username: lxj10021002@sina.com
    # 网易163授权码
    #    password: PLXZJOQWQGQFZZRZ
    #    新浪授权码
    password: f3841e19e3f45cc4
    # 其它参数
    properties:
      mail:
        smtp:
          auth: true
          # 如果是用 SSL 方式，需要配置如下属性
          starttls:
            enable: true
            required: true



#   MybatisProperties
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  #  指定了实体类的位置，所以在mapper.xml文件中就可以不用谢包名了。
  type-aliases-package: com.project.community.entity
  configuration:
    use-generated-keys: true #自动生成id的机制。所以在执行insert插入user的时候会自动生成userid。
    map-underscore-to-camel-case: true

# community配置域名
# 配置上传文件的路径
community:
  path:
    domain: http://localhost:8088
#    mac 上
    upload: /Users/lxj/Program/java/project/community/I:/code/java/community/upload
#    win 上 修改upload




#logger 启动日志的级别
#logging:
#  pattern:
#    console: "%d - %msg%n"  #定义打印的日志格式
#  level:
#    root: debug
#  file:
#    name: I:/code/java/project/loggingfile/community_log_file.log #保存日志的文件